In [66]:
#1.导入相应包
import pandas as pd
import numpy as np
import codecs

## 1.1数据清洗有些无的数据（地点无,国家年龄无）

In [67]:

#导入数据
names=["User-ID","Location","Age"]
data=pd.read_csv(r"C:\Users\bw\Desktop\SPARK期末\BX-Users.csv",skiprows=[0],names=names,encoding = "ISO-8859-1")
#查看每列的信息
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276271 entries, 0 to 276270
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   276270 non-null  object
 1   Location  276019 non-null  object
 2   Age       276232 non-null  object
dtypes: object(3)
memory usage: 6.3+ MB

In [68]:
#缺失值处理，去除空白值
data=data.replace(" ",np.nan)
data=data.dropna(axis=0,how="any") 
data

                  User-ID          Location                    Age
0                  1;"nyc          new york              usa";NULL
1             2;"stockton        california              usa";"18"
2               3;"moscow   yukon territory           russia";NULL
3                4;"porto          v.n.gaia         portugal";"17"
4          5;"farnborough             hants   united kingdom";NULL
...                   ...               ...                    ...
276266   278854;"portland            oregon              usa";NULL
276267     278855;"tacoma        washington   united kingdom";"50"
276268   278856;"brampton           ontario           canada";NULL
276269  278857;"knoxville         tennessee              usa";NULL
276270     278858;"dublin               n/a          ireland";NULL

[272395 rows x 3 columns]

In [69]:
#删除国家年龄为null的数据
data=data[~ data['Age'].str.contains('NULL')]
data

                   User-ID     Location                    Age
1              2;"stockton   california              usa";"18"
3                 4;"porto     v.n.gaia         portugal";"17"
5          6;"santa monica   california              usa";"61"
9             10;"albacete    wisconsin            spain";"26"
10           11;"melbourne     victoria        australia";"14"
...                    ...          ...                    ...
276261  278849;"georgetown      ontario           canada";"23"
276263      278851;"dallas        texas              usa";"33"
276264    278852;"brisbane   queensland        australia";"32"
276265   278853;"stranraer          n/a   united kingdom";"17"
276267      278855;"tacoma   washington   united kingdom";"50"

[165224 rows x 3 columns]

## 1.2数据条件提取，去除缺失值以及获取相应有关的数据，要求三表合一

In [70]:
#合并三表
data1=pd.read_csv(r"C:\Users\bw\Desktop\SPARK期末\BX-Book-Ratings.csv",sep=";",encoding = "ISO-8859-1")
data2=pd.read_csv(r"C:\Users\bw\Desktop\SPARK期末\BX_Books.csv",sep=";",encoding = "ISO-8859-1")
data3 = pd.merge(data1,data2,how='outer',on='ISBN')

#转换数据类型
data4=data
data4['User-ID']=data4['User-ID'].str.split(';',expand=True)[0]
data4=data4.dropna(axis=0,how="any")   #删除含有空值行
data4['Age']=data4['Age'].str.extract('(\d+)', expand=False).astype(float)
data4['User-ID'] = data4['User-ID'].astype('int')

data_all=pd.merge(data3,data4,how='outer',on='User-ID')
data_all.head()

C:\Users\bw\AppData\Local\Temp/ipykernel_7460/1521092010.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['User-ID']=data4['User-ID'].str.split(';',expand=True)[0]

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
0,276725.0,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,NaN,NaN
1,2313.0,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,ohio,23.0
2,2313.0,0812533550,9.0,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986.0,Tor Books,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,ohio,23.0
3,2313.0,0679745580,8.0,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994.0,Vintage,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,ohio,23.0
4,2313.0,0060173289,9.0,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996.0,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,ohio,23.0

In [71]:
#数据预处理
data_all=data_all.dropna(axis=0,how="any")   #删除含有空值行
data_all['User-ID'] = data_all['User-ID'].astype('int')
data_all.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Location,Age
1,2313,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,ohio,23.0
2,2313,0812533550,9.0,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986.0,Tor Books,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,ohio,23.0
3,2313,0679745580,8.0,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994.0,Vintage,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,http://images.amazon.com/images/P/0679745580.0...,ohio,23.0
4,2313,0060173289,9.0,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996.0,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,http://images.amazon.com/images/P/0060173289.0...,ohio,23.0
6,2313,0385482388,5.0,The Mistress of Spices,Chitra Banerjee Divakaruni,1998.0,Anchor Books/Doubleday,http://images.amazon.com/images/P/0385482388.0...,http://images.amazon.com/images/P/0385482388.0...,http://images.amazon.com/images/P/0385482388.0...,ohio,23.0

In [72]:
#查看数据
data_all['Image-URL-L']#经检查Image-URL-S，Image-URL-M，Image-URL-L获取的都是同一个url，所以去除其他两个

1          http://images.amazon.com/images/P/034545104X.0...
2          http://images.amazon.com/images/P/0812533550.0...
3          http://images.amazon.com/images/P/0679745580.0...
4          http://images.amazon.com/images/P/0060173289.0...
6          http://images.amazon.com/images/P/0385482388.0...
                                 ...
1149765    http://images.amazon.com/images/P/0741411504.0...
1149766    http://images.amazon.com/images/P/0020130902.0...
1149774    http://images.amazon.com/images/P/0553571001.0...
1149775    http://images.amazon.com/images/P/0689822294.0...
1149776    http://images.amazon.com/images/P/0583307841.0...
Name: Image-URL-L, Length: 732468, dtype: object

In [73]:
#删除数据分析不需要的列，剩下有用的用户，图书等级，标题，作者，出版时间，出版社，url,位置，国家年龄
data_all=data_all.drop(['ISBN','Image-URL-M','Image-URL-L'],axis=1)
data_all.head()

,User-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Location,Age
1,2313,5.0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,ohio,23.0
2,2313,9.0,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986.0,Tor Books,http://images.amazon.com/images/P/0812533550.0...,ohio,23.0
3,2313,8.0,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994.0,Vintage,http://images.amazon.com/images/P/0679745580.0...,ohio,23.0
4,2313,9.0,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996.0,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,ohio,23.0
6,2313,5.0,The Mistress of Spices,Chitra Banerjee Divakaruni,1998.0,Anchor Books/Doubleday,http://images.amazon.com/images/P/0385482388.0...,ohio,23.0

## 1.3数据范围抽取，要求定义一个范围值使用3个表后抽取数据显示（获取图书等级为5，国家年龄>50的有关信息）

In [83]:
df=data_all[(data_all['Book-Rating']==5) & (data_all['Age']>50)]
df

,User-ID,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Location,Age
2959,77480,5.0,Haunted Animals: True Ghost Stories,Allan Zullo,1995.0,Troll Communications,http://images.amazon.com/images/P/0816736715.0...,washington,51.0
2986,77480,5.0,Celestial chess,Thomas Bontly,1979.0,Harper & Row,http://images.amazon.com/images/P/0060104333.0...,washington,51.0
2992,77480,5.0,Dad,William Wharton,1989.0,Avon Books,http://images.amazon.com/images/P/0380585944.0...,washington,51.0
2998,77480,5.0,Nights in Aruba,Andrew Holleran,1989.0,Plume Books,http://images.amazon.com/images/P/0452263956.0...,washington,51.0
3014,77480,5.0,Riverrun Trilogy,S. P. Somtow,1996.0,Doubleday Books,http://images.amazon.com/images/P/1568651945.0...,washington,51.0
...,...,...,...,...,...,...,...,...,...
1148800,256778,5.0,Traveling the South Pacific: Without Reservations,Evangeline Brunes,2001.0,Penrith Publications,http://images.amazon.com/images/P/0971051968.0...,arizona,74.0
1148863,258108,5.0,Short Stories and Poems for Children,E. Joda McConnell,2002.0,Xlibris Corporation,http://images.amazon.com/images/P/1401013775.0...,illinois,63.0
1148974,260398,5.0,MP3 FYI Digital Music Online: Your Q&A Guide t...,Jay Lickfett,2000.0,Musk and Lipman Publishing,http://images.amazon.com/images/P/192968505X.0...,zh,64.0
1149021,261222,5.0,"Kopfgeburten: Oder, Die Deutschen sterben aus",GÃ¼nter Grass,1980.0,Luchterhand,http://images.amazon.com/images/P/3472865202.0...,bayern,77.0
1149327,267393,5.0,Die PapierverschwÃ?Â¶rung.,David Liss,2001.0,Btb Bei Goldmann,http://images.amazon.com/images/P/3442750784.0...,hamburg,62.0